
/*Elementos comunes en todas las páginas*/

*{

    box-sizing: border-box;

    margin: 0;

    height: 100%;

    background-color: rgb(53, 58, 63);

    overflow-y: hidden;

}

.container{

    display: grid;

    grid-template-columns: 25% 25% 25% 25%;

    grid-template-rows: 10% 27% 27% 27% 10%;

}

.titulo{

    grid-column: 2/4;

    grid-row: 1/2;

    text-align: center;

    margin-top: 2%;

}

.titulo h1{

    font-size: 64px;

    color:rgb(255, 0, 128);

}

.logo{

    grid-column: 1/2;

    grid-row: 1/2;

}

.logo img{

    width: 100%;

    height: 100%;

}

.fondogif{

    grid-column: 2/4;

    grid-row: 5/6;

    text-align: center;

}

.textofooter{

    grid-column: 1/2;

    grid-row: 5/6;

    text-align:center;

    margin-top: 10%;

}

.textofooter h3{

    color: white;

}

.logo2{

    grid-column: 4/5;

    grid-row: 5/6;

}

.logo2 img{

    width: 100%;

    height: 100%;

}

.contacto{

    grid-column: 4/5;

    grid-row: 1/2;

    text-align: center;

    margin-top: 8%;

    font-size: 20px;

}

/*Desde aquí "Index"*/


.foto1{

    grid-column: 1/3;

    grid-row: 2/5;

    

}

.foto1 img{

    width: 100%;

    height: 100%;

    padding: 5%;

}

.texto{

    grid-column: 3/5;

    grid-row: 2/4;

    text-align: center;

    margin-top: 3%;

}

.texto h2{

    color: white;

}

.plaquetas{

    grid-column: 3/4;

    grid-row: 3/5;

}

.plaquetas img{

    width: 100%;

    height: 100%;

    padding: 5%;

}

.repositorio{

    grid-column: 4/5;

    grid-row: 3/4;

    text-align: center;

    font-size: 20px;

    line-height: 250px;

}

.arriba{

    grid-column: 4/5;

    grid-row: 4/5;
}

.arriba img{

    width: 100%;

    height: 100%;

    padding: 5%;

}



/*Desde aquí "Formulario"*/

.textoformulario{

    grid-column: 2/4;

    grid-row: 2/3;

    text-align: center;

    margin-top: 3%;

}

.textoformulario h1{

    color: rgb(255, 0, 128);

}

.formulariodeenvio{

    grid-column: 1/3;

    grid-row: 2/5;

    text-align: center;

    margin-top:20% ;

}

.formulariodeenvio input{

    width: 50%;

    height: 5%;

    color: rgb(255, 0, 128);

}

.formulariodeenvio{

    color: rgb(255, 0, 128);

}

.formulariodeenvio textarea{

    width: 50%;

    height: 10%;

    color: rgb(255, 0, 128);

}

.mapas {

    grid-column: 3/5;

    grid-row: 2/4;

    padding: 5%;

    margin-top:15%;

}

.oficinas{

    grid-column: 3/5;

    grid-row: 2/4;

    margin-top:10%;

    text-align: center;

}

.oficinas h2{

    color: rgb(255, 0, 128);

}

/*Desde aquí los elementos de las paginas de las series*/

.trailers{

    grid-column: 1/3;

    grid-row: 2/5;

}

.trailers iframe{

    width: 100%;

    height: 100%;

    padding: 5%;

}

.nota{

    grid-column: 3/4;

    grid-row: 4/5;

}

.nota h2{

    color: white;

}

/*Elemento bootstrap*/

.flecha{

    grid-column: 4/5;

    grid-row: 4/5;

    text-align: center;

}

.flecha svg{

    width: 100%;

    height: 100%;

    padding: 20%

}

.flecha path{

    color:rgb(255, 0, 128)

}

.iconos{

    display: flex;

    grid-column: 3/4;

    grid-row: 4/5; 

    margin-top: 35%;

    margin-left: 50%;

}

.iconos svg{

    width: 50%;

    height: 50%;

}

.iconos path{

    color:rgb(255, 0, 128)

}




